* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 65.2%;
}
body {
  background: #343541;
  color: white;
  font-family: "Roboto", sans-serif;
}
.App {
  display: flex;
}
.sidebar {
  padding: 20px 30px;
  height: 100vh;
  background-color: #161616;
  flex: 1.5;
}
.logoWrapper {
  padding: 4px;
  background-color: white;
  width: 33px;
  border-radius: 50%;
  height: 33px;
}
.logo {
  width: 25px;
  filter: invert();
  height: 25px;
  object-fit: cover;
}
.upperside-top {
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
}
.upperside-top span {
  font-size: 1.3rem;
}
.upperside-top:hover {
  background-color: rgba(63, 63, 63, 0.527);
}
.main {
  flex: 9;
}
.lowerside {
  margin-top: 4.5rem;
}
.recentSearch {
  margin-top: 20px;
}
.recentSearch span {
  color: #8f8f8f;
  font-size: 1.2rem;
}
.recentSearch p {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.3rem;
}
.recentSearch p:hover {
  background-color: rgba(63, 63, 63, 0.527);
}
.lowest {
  margin-top: 15px;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
}
.lowest:hover {
  background-color: rgba(63, 63, 63, 0.527);
}
.profileImg {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.main {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.main h2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 12rem;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
.main h2:hover {
  background-color: rgba(63, 63, 63, 0.527);
}
.middleMain {
  display: flex;
  flex-direction: column;
  margin-top: 13rem;
  justify-content: center;
  align-items: center;
}
.middleMain img {
  padding: 8px;
  filter: invert();
  width: 60px;
  height: 60px;
}
.logoMidWrap {
  border-radius: 50%;
  background-color: white;
  width: 60px;
  height: 60px;
}
.lowMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 10rem; */
}
.lowMain .search {
  border: 1px solid #8f8f8fc5;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  color: white;
  outline: #cecece;
  border-radius: 6px;
  width: 55%;
}
.search input {
  background-color: transparent;
  border: 0;
  color: white;
  outline: 0;
  width: 120rem;
  font-size: 15px;
  height: 4rem;
}
.search button {
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 6px;
  padding: 2px;
}
.chats {
padding-top: 8rem;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  max-height: 65rem;
  height: calc(100vh - 17rem);
  height: 80%;
}

.chats::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  background-color: #f5f5f52f;
}

.chats::-webkit-scrollbar {
  width: 8px;
  background-color: #1d1d1d;
}

.chats::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.125);
  background-color: #282828a9;
}

.chat {
  margin: 0.8rem ;
  padding: 1.2rem 2rem;
  font-size: 1.35rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}
.chat img {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}
.bot {
  background-color: rgba(0, 0, 0, 0.133);
  width: fit-content;
  border-radius: 0.5rem;
}



.loader3 {
   width:50px;
   height:50px;
   display:inline-block;
   padding:0px;
   text-align:left;
}
.loader3 span {
   position:absolute;
   display:inline-block;
   width:50px;
   height:50px;
   border-radius:100%;
   background:rgba(135, 211, 124,1);
   -webkit-animation:loader3 1.5s linear infinite;
   animation:loader3 1.5s linear infinite;
}
.loader3 span:last-child {
   animation-delay:-0.9s;
   -webkit-animation-delay:-0.9s;
}
@keyframes loader3 {
   0% {transform: scale(0, 0);opacity:0.8;}
   100% {transform: scale(1, 1);opacity:0;}
}
@-webkit-keyframes loader3 {
   0% {-webkit-transform: scale(0, 0);opacity:0.8;}
   100% {-webkit-transform: scale(1, 1);opacity:0;}
}
.loader3 {
   width:20px;
   height:20px;
   display:inline-block;
   padding:0px;
   text-align:left;
}
.loader3 span {
   position:absolute;
   display:inline-block;
   width:20px;
   height:20px;
   border-radius:100%;
   background:rgb(255, 255, 255);
   -webkit-animation:loader3 1.5s linear infinite;
   animation:loader3 1.5s linear infinite;
}
.loader3 span:last-child {
   animation-delay:-0.9s;
   -webkit-animation-delay:-0.9s;
}
@keyframes loader3 {
   0% {transform: scale(0, 0);opacity:0.8;}
   100% {transform: scale(1, 1);opacity:0;}
}
@-webkit-keyframes loader3 {
   0% {-webkit-transform: scale(0, 0);opacity:0.8;}
   100% {-webkit-transform: scale(1, 1);opacity:0;}
}
.suggestions {
  margin-top: 10rem;
  width: 100%;
  justify-content: center;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.singleSuggestion {
  cursor: pointer;
  width: 49%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.405);
}
.singleSuggestion:hover{
  background-color: #1616162f;
}
.singleSuggestion h3{
font-size: 1.3rem;
}
.singleSuggestion p{
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.625);
}
@media screen and (max-width:768px) {
  .sidebar{
    display: none;
  }
 .lowMain .search{
  margin-top: 5rem;
    width: 25%;
  }
  .suggestions{
    
  }
}
